<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.css" integrity="sha384-Um5gpz9odNuBtLwl4I3WwW4tLwaqeoqR0cGiI5C5Lyf2A3nZ5p/5Tc9wt/2dyp9x" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.js" integrity="sha384-PTxWZVjmiwoGOC8uMxgM8M+d5E9TV4xqR2L1jmOUhCGlW2LBq8W5BGo8b8A7jE3L" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/contrib/auto-render.min.js" integrity="sha384-zB1R0rpPz9LtbglRgD+Z5C1z9ZTUqaf5L4VVVPifWwsvJXqunlmlSp4m3FbQdQ4o" crossorigin="anonymous"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    renderMathInElement(document.body, {
      // custom options
    });
  });
</script>
